
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #333;
	margin: 0;
}

header {
	position: sticky;
	top: 0;
	padding: .5em;
	width: 100%;
	height: 80px;
	background-color: #F2F2F2;
	z-index: 1;
}

header h1.logo {
	padding-left: 1em;
}

header a {
	color: #333;
	text-decoration: none;
	margin: 1.5em;
	padding: .4em;
	border-radius: .7em;
	transition: .2s;
}

header a:hover {
	color: #333;
	font-weight: bolder;
	text-decoration: none;
	margin: 1.5em;
	padding: .4em;
	background-color: #E0E0E0;
	border-radius: .7em;
}

header nav {
	position: absolute;
	top: 2.2em;
	right: 3em;
}

header nav a {
	color: #333;
	font-size: 20px;
	text-decoration: none;
	margin-right: 1.5em;
	padding: .6em;
	border-radius: .7em;
	transition: .2s;
}

header nav a:hover {
	color: #333;
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
	margin-right: 1.5em;
	padding: .6em;
	background-color: #E0E0E0;
	border-radius: .7em;
}

div.top-image img {
	width: 100vw;
	height: auto;
}

div.top-image-text {
	color: #333333;
	position: absolute;
	top: 15em;
	left: 2em;
	font-size: 20px;

}

div.about-text {
	width: 75%;
	margin: 0 auto;
	margin-top: 3em;
}

div.f1-calender {
	padding-bottom: 5em;
	margin-top: 3em;
}

div.f1-calender h2 {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 1em;
}

div.f1-calender input#table-search {
	font-family: 'Raleway', sans-serif;
	padding: .4em;
	border: none;
	border-bottom: 3px solid #EFEFEF;
	border-radius: .2em;
	font-size: 20px;
	margin-bottom: 1.5em;
	margin-left: 10.5em;
	width: 13em;
	cursor: text;
	transition: .2s;
}

div.f1-calender input#table-search:hover {
	background-color: #EFEFEF;
	font-weight: bold;
}

div.f1-calender table {
	border-collapse: collapse;
	width: 75%;
	margin: 0 auto;
}

div.f1-calender table td, div.f1-calender table th {
	border: 1px solid #DDD;
	text-align: left;
	padding: 8px;
}

div.f1-calender table tr:nth-child(even) {
	background-color: #DDD;
}

div.f1-news {
	width: 75%;
	margin: 0 auto;
}

div.f1-news form.news-search-form input.search-news {
	border: none;
	border-bottom: 3px solid #EFEFEF;
	border-radius: .2em;
	font-size: 20px;
	margin-bottom: 1.5em;
	width: 13em;
	cursor: text;
}

div.f1-news form.news-search-form button.search-news-button {
	color: #DBDBDB;
	border: none;
	border-radius: .2em;
	font-size: 20px;
	transition: .2s;
	padding: .5em;
	cursor: pointer;
}

div.f1-news form.news-search-form button.search-news-button:hover {
	background-color: #E0E0E0;
	color: #A0A0A0;
}

div.f1-news section {
	border: 3px solid #EFEFEF;
	border-radius: 25px;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	padding-top: 2em;
	margin-bottom: 2em;
}

div.f1-news img {
	width: 100%;
	border-radius: 25px;
}

div.f1-news small {
	color: #949494;
}

div.f1-news a {
	font-size: 20px;
	color: #949494;
	text-decoration: none;
}

div.f1-news a:hover {
	color: #949494;
	text-decoration: underline;
}

div.f1-history {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 2em;
}

div.f1-history p {
	font-size: 18px;
}

div.f1-history p.text1 {
	width: 50%;
}

div.f1-history img.img1 {
	width: 40%;
	position: relative;
	left: 43em;
	top: -25em;
}

div.f1-history h2.title2 {
	position: relative;
	top: -15em;
	right: -23.5em;
}

div.f1-history p.text2 {
	width: 55%;
	float: right;
	position: relative;
	top: -20em;
}

div.f1-history img.img2 {
	width: 40%;
	position: relative;
	top: -25em;
}

div.contact-link {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	margin-top: 2em;
	margin-bottom: 2em;
}

div.contact-link form.contact-form {
	position: relative;
	top: -10em;
}

div form input {
	padding: .4em;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	border: none;
	border-radius: .7em;
	background-color: #FFFFFF;
	transition: .2s;
	cursor: pointer;
}

div form input:hover {
	font-weight: bold;
	background-color: #F2F2F2;
}

footer {
	padding: 1em;
	width: 100%;
	height: 150px;
	background-color: #333333;
	color: #949494;
	position: relative;
	left: 0;
	bottom: 0;
}

footer .footer-content {
	padding: 1em;
	width: 30%;
	margin: 0 auto;
}

footer .left-content {
	float: left;
}

footer .left-content ul li {
	list-style-type: none;
}

#vert-line {
	border-right: 1px solid #949494;
	height: 120px;
	position: absolute;
	left: 53em; 
}

footer .right-content {
	float: right;
}

footer a {
	color: #949494;
	text-decoration: none;
}

footer a:hover {
	color: #949494;
	text-decoration: underline;
}

@media screen and (max-width: 1130px) {
	div.top-image-text {
		color: #333333;
		position: relative;
		top: 0;
		left: 6em;
		font-size: 20px;
	}
}
